*{
    margin: 0;
    padding: 0;
    max-width: 1300px;
    font-family: 'Courier New', Courier, monospace;
    
}

.header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    
    align-items: center;
    padding: 0 90px;
}

.head-btn{
    padding: 10px;
    background: none;
    border: 1px  solid rgba(179, 176, 176, 0.973);
    border-radius: 5px;
    font-weight: 500;
}

.header-bg{
    background-image: url(./images/Hero-bg.png);
    height: 530px;
    
}

.header-content{
    text-align: center;
    width: 70%;
    padding-top: 20px;
    margin: 0 auto;
    
    

}

.header-content > img,h1,p{
    padding-bottom: 20px;
}

.contect-btn{
    padding: 10px;
    background: black;
    color: white;
    font-size: 16px;
    border: 1px  solid rgba(179, 176, 176, 0.973);
    border-radius: 5px;
}

.ptag{
    opacity: .7;
}

/* "this is about section" */

.about{
    height: 900px;
    width: 80%;
    
    padding-top: 2px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #d6cccc1e;
}

.about-heading > h2,.ptag1{
    text-align: center;
    margin-top: 20px;;
    
}

.about-heading{
    margin-top: 35px;
}

/* about content section */


.about-contents{
    height: 20%;
    width: auto;
    
    margin: 5% 10%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.about-in{
    height: 90%;
    width: 45%;
    margin: 20px;
}
.ptag2{
    padding-left: 0;
    margin-top: 10px;
}

.about-btn{
    font-size: 15px;
    padding: 5px;
    background-color: white;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 2px;
}

.about-img ,img{
    height: 90%;
    padding: 10px;
    
}
.about-img{
    background-image: linear-gradient(to right,  rgb(252, 252, 252),#d6cccc1e);
}

.in2{
    margin-left: 0px;
    
    height: 90%;
    width: 50%;
    margin: 20px;
    margin-right: 150px;
}

/* end about sec */

/* this is  inspire secttion */

.inspire-sec{
    height: 500px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

iframe{
    border-radius: 2%;
    box-shadow: 0px 0px 1px 1px rgba(51, 51, 51, 0.267);
    padding: 14px;
}

/* end inspire sec */
/* target section */

.target-sec{
    width: 80%;
    height: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.works{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 30px;
    
}

.skill{
    text-align: left;
    height: 250px;
    width: 87%;
    border-radius: 10px;
    padding: 20px;
}

.skill1{
    background-color: rgba(255, 192, 203, 0.541);
}

.skill2{
    background-color: #81eedc79;
}

.skill3{
    background-color: rgba(250, 211, 218, 0.459);
}

.atag,a{
    list-style: none;
    color: black;
}

.img-sec,img{
    padding-left: 0;
}

/* end my current terget */

/* start next target section   */

.next-sec{
    margin-top: 50px;
}

.next-sec-in{
    width: 97%;
    border: 1px  solid rgba(85, 85, 85, 0.336);
    border-radius: 15px;
    display: flex;
    height: 160px;
    margin-top: 30px;
    align-items: center;
    padding-left: 20px;
}

.next-text{
    text-align: start;
    margin-left: 30px;
}

.next-targ,img{
    width: 90px;
}

/* end full target section  */